# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
build/*
bin/*
files/*

# Configuration files
# app/config/parameters.ini
# app/config/parameters.yml

composer.lock

# PhpStrom project files
.idea/*
