{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}{% endblock %}
{% block fos_user_content %}
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
    </div>
{% endblock fos_user_content %}
