<div>
    <a href="{{ path("fos_user_group_list") }}" class="btn"><i class="icon-chevron-left"></i>Zur Übersicht</a>
</div>
<div class="fos_user_group_show">
    <p>{{ 'group.show.name'|trans([], 'FOSUserBundle') }}: {{ group.getName() }}</p>
</div>
